<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'editor/js/jquery-3.6.0.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'hannah template/css/index.css' %}" />
    
    <title>{% block title %} Hannah || Homepage {% endblock %}</title>
  </head>
  <body>
    <div class="main-container">
      <!-- start of header -->
      <header class="header">
        <div>
          <h1 class="logo">{% block logo %} HANNAH {% endblock %}</h1>
        </div>
        
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li">
             
              <a class="active nav-link" href="{% url 'editor:hannah_home' %}" id="nav_link1"> </a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="{% url 'editor:hannah_resume' %}" id="nav_link2"></a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="{% url 'editor:hannah_contact' %}" id="nav_link3"></a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>
      <!-- end of header -->
        {% block content %}  {% endblock %}
      
      <!-- End of footer section -->
    </div>

    <script src="{% static 'hannah template/js/navbar.js' %}"></script>

    <script>
    
      $(document).ready(function(){
          
        setInterval(function() {
          $.ajax({
            type:'GET',
            url:"{% url 'editor:getTemplateSpecs' %}",
            success: function(response){
                
                var template = response["hannah_template"]
                $('#nav_link1').text(template['nav_text1'])
                $('#nav_link2').text(template['nav_text2']) 
                $('#nav_link3').text(template['nav_text3'])

                $('#page_title').text(template['page_title'])

                $('#hi').text(template['hero_text_small'])
                $('#hero_text_big').text(template['hero_text_big'])

                $('#home').css("background-color", template['background_color'])
                $('.main-container').css("background-color", template['hero_div_color'])
                $('.paragraph').text(template['about_paragraph'])
            },
            error: function(response) {
                // alert("Error occured!")
            }
        })
        }, 200);
          
      });
  
  </script>
  </body>
</html>
