{% extends 'hannah template/base.html' %}
{% load static %}
{% block title %}Hannah || Contact{% endblock %}
{% block logo %} HANNAH {% endblock %}
  
    {% block content %}

      <!-- Start of contact section -->
      <main id="contact" class="contact">
        <h3 class="header-texts">CONTACT</h3>
        <h4 id="contact-h4">Looking forward to hearing from you</h4>
        <div>
          <h4>Email</h4>
          <h5 class="text-div">infor@mysite.com</h5>
        </div>
        <div class="phone-div">
          <h4>Phone</h4>
          <h5 class="text-div">+54267384902100</h5>
        </div>

        <form method="post" class="form">
          <div class="form-div">
            <div class="form-control">
              <label for="first">First Name</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Last Name</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Email</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Subject</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Message</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="15"
              ></textarea>
            </div>
          </div>
          <button type="button" class="btn form-btn">Submit</button>
        </form>
      </main>
      <hr />
      <!-- End of contact section -->

      {% endblock %}