<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Hannah || Contact</title>
  </head>
  <body>
    <div class="main-container">
      <!-- start of header -->
      <header class="header">
        <div>
          <h1 class="logo">HANNAH</h1>
        </div>

        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="./resume.html">Resume</a>
            </li>
            <li class="nav-li">
              <a class="active nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>
      <!-- end of header -->

      <!-- Start of contact section -->
      <main id="contact" class="contact">
        <h3 class="header-texts">CONTACT</h3>
        <h4 id="contact-h4">Looking forward to hearing from you</h4>
        <div>
          <h4>Email</h4>
          <h5 class="text-div">infor@mysite.com</h5>
        </div>
        <div class="phone-div">
          <h4>Phone</h4>
          <h5 class="text-div">+54267384902100</h5>
        </div>

        <form method="post" class="form">
          <div class="form-div">
            <div class="form-control">
              <label for="first">First Name</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Last Name</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Email</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Subject</label>
              <input type="text" required />
            </div>
            <div class="form-control">
              <label for="first">Message</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="15"
              ></textarea>
            </div>
          </div>
          <button type="button" class="btn form-btn">Submit</button>
        </form>
      </main>
      <hr />
      <!-- End of contact section -->

      <!-- Start of footer section -->
      <footer id="footer" class="footer">
        <div class="footer-div">
          <a href="#">
            <img src="../images/facebook.png" alt="facebook icon" />
          </a>
          <a href="#">
            <img src="../images/twitter.png" alt="twitter icon" />
          </a>
          <a href="#">
            <img src="../images/linkedln.png" alt="linkedln icon" />
          </a>
          <a href="#">
            <img src="../images/instagram.png" alt="instagram icon" />
          </a>
          <a href="#">
            <img src="../images/m.png" alt="m icon" />
          </a>
        </div>
        <div class="footer-p">
          <p>&copy; 2024 by Hannah James</p>
          <p>Proudly created with Webella.com</p>
        </div>
      </footer>
      <!-- End of footer section -->
    </div>

    <script src="../js/navbar.js"></script>
  </body>
</html>
