{% extends 'hannah template/base.html' %}
{% load static %}
{% block title %} Hannah || Resume{% endblock %}
  {% block logo %} HANNAH {% endblock %}
    
      {% block content %}
      <!-- Start of resume section -->
      <main id="resume" class="main">
        <h3 class="header-texts resume">RESUME</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
          turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
          fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
          elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
          lectus. Class aptent taciti sociosqu ad litora torquent per
          conubia.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
          nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
          tellus elit sed risus. Maecenas eget condimentum velit, sit amet
          feugiat lectus. Class aptent taciti sociosqu ad litora torquent per
          conubia.
        </p>
        <hr class="hr" />
        <div class="experience">
          <table>
            <tr>
              <td class="td-head">Experience</td>
              <td>Company name</td>
              <td class="td-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
                metus nec fringilla accumsan, risus sem sia.
              </td>
            </tr>
            <tr>
              <td></td>
              <td>Company name</td>
              <td class="td-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
                metus nec fringilla accumsan, risus sem sia.
              </td>
            </tr>
            <tr>
              <td></td>
              <td>Company name</td>
              <td class="td-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
                metus nec fringilla accumsan, risus sem sia.
              </td>
            </tr>
          </table>
        </div>
        <hr class="hr" />

        <div class="experience">
          <table>
            <tr>
              <td class="td-head">Education</td>
              <td>2022-2028</td>
              <td class="td-para">
                <h4>Establishment Name/ Degree</h4>
                <p class="td-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  eu turpis molestie, dictum est a, mattis tellus. Sed
                  dignissim, metus nec fringilla accumsan, risus sem sia.
                </p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>2022-2028</td>
              <td class="td-para">
                <h4>Establishment Name/ Degree</h4>
                <p class="td-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  eu turpis molestie, dictum est a, mattis tellus. Sed
                  dignissim, metus nec fringilla accumsan, risus sem sia.
                </p>
              </td>
            </tr>
          </table>
        </div>
        <hr class="hr" />

        <div class="experience">
          <table>
            <tr>
              <td class="td-head">Skill and expertise</td>
              <td></td>
              <td class="td-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
                metus nec fringilla accumsan, risus sem sia.
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="td-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
                metus nec fringilla accumsan, risus sem sia.
              </td>
            </tr>
          </table>
        </div>
        <hr />
      </main>
      <!-- End of resume section -->

      {% endblock %}