/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup, output, ruby, section, summary,
time, mark, audio, video, * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, hgroup, section {
	display: block;
}
body {
  font-family: 'Space Grotesk', 'Lexend',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-osx-font-smoothing:grayscale;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration:none;
}



#primary_intro, #secondary_intro{
    display:flex;
    flex-direction:column;
    margin:2em auto;
    overflow-x:hidden;
    min-width:320px;
    padding-bottom:3em;
    /* padding:2em; */
    max-width:1440px;
}

#primary_intro{
    flex-direction:column-reverse;
}



.text_content{
    display:flex;
    flex-direction:column;
    gap:1.8em;
    padding:2em;
}

.heading{
font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 101%;
}

.button{
    max-width:fit-content;
    padding:1em 2em;
    background: transparent;
    border: 2px solid #003865;
    border-radius: 7px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #003865;
}

.illustration{
    position:relative;
    display:flex;
}

img{
    width:100%;
    height:100%;
}

@media screen and (min-width:480px){
    #primary_intro, #secondary_intro{
        padding:0 2em;
        padding-bottom:3em;
    }
    .text_content{
        padding:2em 0;
    }
}


@media screen and (min-width:768px){
    #primary_intro, #secondary_intro{
        padding-bottom:3em;
    }
    #primary_intro{
        flex-direction:row;
        align-items: center;
    }
    .text_content{
        flex:1;
        gap:2em;
    }
    .illustration{
        flex:1.3;
    }
}

@media screen and (min-width:1440px) {
    #primary_intro, #secondary_intro{
        padding:0 4em;
        padding-bottom:3em;
    }

    #primary_intro{
        flex-direction:row;
        align-items: center;
    }
    .text_content{
        flex:1;
        gap:3em;
    }
    .heading{
        font-size: 48px;
        line-height: 62px;
    }
    .text{
        font-size: 20px;
    }
    .illustration{
        flex:1.3;
    }
}

/* secondary intro */

#secondary_intro{
    padding:2em;
    justify-content: center;
    gap:1.8em;
    text-align: center;
}

#secondary_intro .button{
    align-self: center;
}
.template_wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2em;
    order:3;
}

.template_cards{
    position:relative;
    width: 384px;
    height: 370px;
    border: 1px solid #003865;
    border-radius: 7px 7px 0px 0px;
    overflow:hidden;
}

.template_cards > img{
    height:100%;
    object-position: left top;
    object-fit: cover;
}

@media screen and (min-width:768px){
    #secondary_intro{
        padding:3em;
        justify-content: center;
        align-items: center;
        gap:3em;
    }

    #secondary_intro .heading, #secondary_intro .text{
        padding:0 2em;
        max-width: 996px;
        text-align: center;
    }
    
    #secondary_intro .button{
        align-self: center;
    }
    .template_wrapper{
        margin:4em auto;
    }
}

@media screen and (min-width:1440px) {
   
    #secondary_intro{
        padding:3em;
        justify-content: center;
        align-items: center;
        gap:3em;
    }

    #secondary_intro .heading, #secondary_intro .text{
        /* padding:0 4em; */
        text-align: center;
    }
    
    #secondary_intro .button{
        order:3;
        align-self: center;
    }
    .template_wrapper{
        order:4;
        margin:4em auto;
    }
}

