
/* Section # styles */
#section-3{
    height: 90vh;
    font-family: 'Lexend', sans-serif;
}

.section3-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
}


/* section 3 left side styles */
.section3-left-side{
    flex: 50%;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid #003865;
    padding-right: 20px;
}

.section3-image-wrapper{
    width: 400px;
    height: 300px;
}


.section3-image-wrapper img{
   width: 100%;
   height: 100%;
}


/* Section 3 right side styles */
.section3-right-side{
    height: 100%;
    flex: 50%;
    padding: 20px;
}

.section3-right-side h1{
    font-size: 35px;
    font-weight: 700;
    color: #171717;
    text-transform: capitalize;
}

.right-side-text-wrapper{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.text-container{
    margin: 10px;
    flex: 45%;
    display: flex;
    gap: 8px;
}

.text-container span{
    font-size: 35px;
    font-weight: 700;
    margin-top: -14px;
}

.text-container p{
    font-size: 12px;
}





/* Media Queries */

/* For Mobile */
@media only screen and (max-width: 768px) {
    #section-3{
        height: 120vh;
    }

    .section3-wrapper{
        width: 100%;
        flex-direction: column;
    }

    /* Left side */
    .section3-left-side{
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        padding-top: 20px;
        border-bottom: 6px solid #003865;
        width: 100%;
        
        border-radius: 4px;
        
    }

    .section3-image-wrapper{
        width: 350px;
        height: 250px;
    }

    .section3-image-wrapper img{
        height: 100%;
        width: 100%;
    }

    /* Right side */
    .section3-right-side h1{
        font-size: 28px;
    }

    .text-container{
        flex: 35%;
    }

    .text-container span{
        font-size: 22px;
        margin-top: -6px;
    }
    
    /* .text-container p{
        font-size: 12px;
    } */
    
}


/* For Larger Screens */

@media only screen and (min-width: 1441px) {
    #section-3{
        height: 50vh;
    }

    .section3-wrapper{
        width: 80%;
    }

    /* Left side */
    .section3-left-side{
        height: 50vh;
    }
    
    .section3-image-wrapper{
        width: 500px;
        height: 400px;
    }


    /* Right side */
    .section3-right-side{
        padding: 40px 20px;
    }

    .section3-right-side h1{
        font-size: 38px;
    }

    .text-container{
        margin: 20px 10px;
        
    }
    
    .text-container p{
        font-size: 14px;
    }

    .right-side-text-wrapper{
        margin-top: 20px;
        margin-left: 10px;
    }
    
}


