<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/on-boarding.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Assistant:wght@200;300&family=Big+Shoulders+Display:wght@700&family=Chivo&family=Inter&family=Lato:wght@400;700&family=Lexend+Deca&family=Lexend:wght@400;500;600;700&family=Lobster&family=Martel+Sans&family=Merriweather+Sans:ital,wght@1,300&family=Open+Sans:wght@300;500;600;700&family=Outfit:wght@100;200;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;500&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&family=Space+Grotesk:wght@400;500;600&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/456c24ff44.js"></script>
    <script src="https://kit.fontawesome.com/4aa42703f0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="nav">
            <img src="{% static './images/Webbella.png' %}" alt="Webella logo">
            <button type="button" class="btn">Dashboard</button>
        </div>
        <div class="hero-text">
            <h1>What type of website do you want?</h1>
            <p>Choose a theme</p>

        </div>


        <div class="button-links">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Custom</a></li>
            </ul>
        </div>
        <hr>

        <div class="template-container">
            <div class="row">
                <form method="post" >
                    {% csrf_token %}
                    <div class="cards">
                        <img src=" {% static './images/Portfolio-template 1.png' %}" alt="Portfolio template">
                        <p>Preview template <i class="fa-regular fa-arrow-up-right"></i></p>
    
                        <button type="submit" class="btn" value="couple template" name="template-style">Start with this design <i
                            class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>
                    <div class="cards">
                        <img src="{% static './images/Blog template 2.png' %}"  alt="blog template">
                        <p>Preview template <i class="fa-regular fa-arrow-up-right"></i></p>
    
                        <button type="submit" class="btn" value="hannah template" name="template-style">Start with this design <i
                            class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>
                    <div class="cards">
                        <img src="{% static './images/Portfolio-template 1.png' %}"  alt="Portfolio template">
                        <p>Preview template <i class="fa-regular fa-arrow-up-right"></i></p>
    
                        <button type="submit" class="btn" value="couple template" name="template-style">Start with this design <i
                            class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>