<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'couple template/css/index.css' %}" />
    <title>Blog Page</title>
  </head>
  <body>
    <div class="main-container">
      <header>
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li">
              <a class="active nav-link" href="#home">Home</a>
            </li>
            <li class="nav-li"><a class="nav-link" href="{% url 'editor:couple_blog' %}">blog</a></li>
            <li class="nav-li">
              <a class="nav-link" href="{% url 'editor:couple_gallery' %}">gallery</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>

      <main id="blog" class="main-blog main-div">
        <div class="image-div">
          <img src="{% static 'couple template/images/blog1.png' %}" alt="Couple Romancing" />
        </div>
        <div class="entries-div">
          <h2>BLOG ENTRIES</h2>
          <p>
            Welcome to our blog entries As you join our journey, we hope that
            you will be inspired
          </p>
        </div>
        <div class="blog-flex">
          <div>
            <img src="{% static 'couple template/images/blog2.png' %}" alt="Flower" />
            <p>The ladies and I are ready to get on with my bridal shower</p>
            <span class="span">February 1st, 2025</span>
            <button class="btn">Read More</button>
          </div>
          <div>
            <img src="{% static 'couple template/images/blog3.png' %}" alt="Lovers" />
            <p>We just succeeded in finding the perfect hall</p>
            <span class="span">February 1st, 2025</span>
            <button class="btn">Read More</button>
          </div>
          <div>
            <img src="{% static 'couple template/images/blog4.png' %}" alt="Hands" />
            <p>How we met - the full story from both sides</p>
            <span class="span">February 1st, 2025</span>
            <button class="btn">Read More</button>
          </div>
        </div>
      </main>

      <!-- start of footer -->
      <footer>
        <div class="footer-div">
          <ul class="footer-ul">
            <li class="footer-li">
              <a href="../index.html" class="footer-link">Home</a>
            </li>
            <li class="footer-li">
              <a href="#blog" class="footer-link">Blog</a>
            </li>
            <li class="footer-li">
              <a href="./gallery.html" class="footer-link">Gallery</a>
            </li>
          </ul>
        </div>
        <div class="footer-icons">
          <img src="{% static 'couple template/images/facebook.png' %}" alt="Faceboook Icon">
          <img src="{% static 'couple template/images/twitter.png' %}" alt="Twitter Icon">
          <img src="{% static 'couple template/images/instagram.png' %}" alt="Instagram Icon">
        </div>
        <div class="create">Created by <span>Webella</span></div>
      </footer>
      <!-- end of footer -->
    </div>

    <script src="{% static 'couple template/js/navbar.js' %}"></script>
  </body>
</html>
