{% extends 'couple template/base.html' %}
{% block title %} Blog Page {% endblock %}
{% load static %}

{% block content %}

  <main id="blog" class="main-blog main-div">
  
    <div class="entries-div">
      <h2>BLOG ENTRIES</h2>
      <p>
        Welcome to our blog entries As you join our journey, we hope that
        you will be inspired
      </p>
    </div>
    <div class="blog-flex">
      <div>
        <img src="{% static 'couple template/images/blog2.png' %}" alt="Flower" />
        <p>The ladies and I are ready to get on with my bridal shower</p>
        <span class="span">February 1st, 2025</span>
        <button class="btn">Read More</button>
      </div>
      <div>
        <img src="{% static 'couple template/images/blog3.png' %}" alt="Lovers" />
        <p>We just succeeded in finding the perfect hall</p>
        <span class="span">February 1st, 2025</span>
        <button class="btn">Read More</button>
      </div>
      <div>
        <img src="{% static 'couple template/images/blog4.png' %}" alt="Hands" />
        <p>How we met - the full story from both sides</p>
        <span class="span">February 1st, 2025</span>
        <button class="btn">Read More</button>
      </div>
    </div>
  </main>


{% endblock %}
      