<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Gallery Page</title>
  </head>
  <body>
    <div class="main-container">
      <header class="header-gallery">
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-li">
              <a class="nav-link" href="./blog.html">blog</a>
            </li>
            <li class="nav-li">
              <a class="nav-link active" href="#gallery">gallery</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>

      <main id="gallery" class="main-gallery"></main>

      <section class="gallery">
        <div class="gallery-text">
          <h1>Our Gallery</h1>
          <p>
            Live our adventures with us through the moments we’ve captured over
            the years
          </p>
        </div>

        <div class="gallery-images">
          <img src="../images/gallery1.png" alt="Lovers" />
          <img src="../images/gallery2.png" alt="Hugging" />
          <img src="../images/gallery3.png" alt="Forehead Kissing" />
          <img src="../images/gallery4.png" alt="Under the Umbrella" />
          <img src="../images/gallery5.png" alt="Hugging on the sit" />
          <img src="../images/gallery6.png" alt="On a hill" />
          <img src="../images/gallery7.png" alt="Looking" />
          <img src="../images/gallery8.png" alt="In the house" />
        </div>
      </section>

      <!-- start of footer -->
      <footer>
        <div class="footer-div">
          <ul class="footer-ul">
            <li class="footer-li">
              <a href="../index.html" class="footer-link">Home</a>
            </li>
            <li class="footer-li">
              <a href="./blog.html" class="footer-link">Blog</a>
            </li>
            <li class="footer-li">
              <a href="#gallery" class="footer-link">Gallery</a>
            </li>
          </ul>
        </div>
        <div class="footer-icons">
          <img src="../images/facebook.png" alt="Faceboook Icon" />
          <img src="../images/twitter.png" alt="Twitter Icon" />
          <img src="../images/instagram.png" alt="Instagram Icon" />
        </div>
        <div class="create">Created by <span>Webella</span></div>
      </footer>
      <!-- end of footer -->
    </div>

    <script src="../js/navbar.js"></script>
  </body>
</html>
