<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'couple template/css/index.css' %}" />
    <title>Couple Blog</title>
  </head>
  <body>
    <div class="main-container">
        <!-- start of header -->
      <header>
        <nav class="nav">
          <ul class="nav-ul">
            <li class="nav-li">
              <a class="active nav-link" href="#home">Home</a>
            </li>
            <li class="nav-li"><a class="nav-link" href="{% url 'editor:couple_blog' %}">blog</a></li>
            <li class="nav-li">
              <a class="nav-link" href="{% url 'editor:couple_gallery' %}">gallery</a>
            </li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>
        <!-- end of header -->

        <!-- start of main section -->
      <main class="main-div" id="home">
        <h1 id="couple-name">ben <span id="and">&</span> ovie</h1>
        <h5 id="date">february 11th, 2025</h5>
      </main>
        <!-- end of main section -->

        <!-- start of testament section -->
      <section class="testament">
        <div class="testament-div">
          <div class="first-testament">
            <img src=" {% static 'couple template/images/second.png' %}" class="groom" alt="Groom image" />
            <h1>Ben</h1>
            <h2>The Groom</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At
              recusandae repudiandae explicabo natus consectetur cum inventore
              ad officia deleniti molestias adipisci, officiis architecto
              laboriosam soluta reiciendis quod fugit ab rem tempore, nisi
              tempora minus et!
            </p>
          </div>
          <div class="second-testamnet">
            <img src="{% static 'couple template/images/third.png' %}" alt="Bride Image" />
            <h1>Ovie</h1>
            <h2>The Bride</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
              labore amet dolor distinctio nihil porro, dignissimos ex cum, eum
              aperiam nobis molestiae recusandae pariatur aspernatur
              reprehenderit expedita alias quisquam fuga autem tempore, ipsam
              dicta! Facere.
            </p>
          </div>
        </div>
      </section>
        <!-- end of testament section -->

        <!-- start of schedule section -->
        <section class="schedule">
            <h1>Schedule & Updates</h1>
            <p id="keep-up">Keep up with our updates and schedules for our upcoming big day</p>
            <div class="schedule-div">
                <div class="schedule-div-one">
                    <div>
                    <img src="{% static 'couple template/images/fifth.png' %}" alt="Sea Side" class="schedule-div-img">
                    <p class="schedule-div-p">We just succeeded in finding the perfect hall for the wedding party </p>
                    <span class="span">February 1st, 2025</span>
                    </div>
                </div>
                <div class="schedule-div-two">
                    <div>
                    <img src="{% static 'couple template/images/sixth.png' %}" alt="Mountain" class="schedule-div-img">
                    <p class="schedule-div-p">Hey guys, We're currently in search of a caterer</p>
                    <span class="span">February 1st, 2025</span>
                </div>
                </div>
                <div class="schedule-div-three">
                    <div>
                    <img src="{% static 'couple template/images/seventh.png' %}" alt="Bird" class="schedule-div-img">
                    <p class="schedule-div-p">The ladies and I are ready to get on with our bridal shower</p>
                    <span class="span">February 1st, 2025</span>
                    </div>
                </div>
            </div>
            <p class="schedule-link">Want to read all of our stories? <a href="#">Check out the full blog</a></p>
        </section>
        <!-- end of schedule section -->

        <!-- start of footer -->
        <footer>
            <div class="footer-div">
                <ul class="footer-ul">
                    <li class="footer-li"><a href="#home" class="footer-link">Home</a></li>
                    <li class="footer-li"><a href="./html/blog.html" class="footer-link">Blog</a></li>
                    <li class="footer-li"><a href="./html/gallery.html" class="footer-link">Gallery</a></li>
                </ul>
            </div>
            <div class="footer-icons">
                <img src="{% static 'couple template/images/facebook.png' %}" alt="Faceboook Icon">
                <img src="{% static 'couple template/images/twitter.png' %}" alt="Twitter Icon">
                <img src="{% static 'couple template/images/instagram.png' %}" alt="Instagram Icon">
            </div>
            <div class="create">Created by <span>Webella</span></div>
        </footer>
        <!-- end of footer -->


    </div>

    <script src="{% static 'couple template/js/navbar.js' %}"></script>
  </body>
</html>
