/* start of header styling */
header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  min-height: 6vh;
}

.nav-ul {
  min-height: 1vh;
  flex-direction: row;
  left: 0;
}

.nav-li {
  padding: 0 20px;
}

.hamburger {
  display: none;
}
/* end of header styling */

/* start of testament styling */
.testament {
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/fourth.bf64c7e0eca6.png");
}

.testament-div {
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  margin: 0 auto;
}

.testament-div img {
  margin-top: -80px;
}

.testament-div h1 {
  padding: 50px 0;
}

.testament-div p {
  width: 60%;
}
/* end of testament styling */

/* start of schedule styling */
.schedule {
  width: 95%;
}

#keep-up {
  width: 40%;
}
.schedule-div {
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
}

.schedule-div-p {
  width: 80%;
}
/* end of schedule styling */

/* Blog Page Styling */
.blog-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.blog-flex img {
  width: 90%;
  height: 90%;
}

.btn {
  width: 50%;
}
/* End Of Blog Page Styling */

/* Start Of Gallery Styling */
.main-gallery {
  min-height: 20vh;
  position: sticky;
}

.header-gallery {
  padding: 30px;
  background: none;
}
/* End Of Gallery Styling */
