<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content-editor</title>
    <link rel="stylesheet" href="{% static 'editor/css/styles.css' %}" type="text/css">
    <script src="{% static 'editor/js/jquery-3.6.0.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Assistant:wght@200;300&family=Big+Shoulders+Display:wght@700&family=Chivo&family=Inter&family=Lato:wght@400;700&family=Lexend+Deca&family=Lexend:wght@400;500;600;700&family=Lobster&family=Martel+Sans&family=Merriweather+Sans:ital,wght@1,300&family=Open+Sans:wght@300;500;600;700&family=Outfit:wght@100;200;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;500&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&family=Space+Grotesk:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>Webbella</h1>
        </div>
        <div class="nav-items">
            <img src="{% static 'editor/images/laptop.png' %}" alt="laptop">
            <img src="{% static 'editor/images/phone.png' %}" alt="mobile">
            <ul>
                <li>Template options<span class="vector"><img src="{% static 'editor/images/Vector.png' %}" alt="vector"></span></li>
            </ul>
            <img src="{% static 'editor/images/questmark.png' %}" alt="question">
            <img src="{% static 'editor/images/capture.png' %}" alt="question">
            
            <a href="{% url 'editor:webiste_template' %}"><button class="publish" type="button">Publish</button></a>
        </div>


    </div>
    <div style="display: flex;">
        <aside>
            <ul>
                <li><a href="#">General</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Format</a></li>
    
            </ul>
            <div class="flex-container">
                <div class="row">
                   <form id="hannah-landing-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="nav_link_1_text" class="form-title">Nav Link 1 text</label><br>
                    <input name="nav_link_1_text" type="text" ><br>

                    <label for="nav_link_2_text" class="form-title">Nav Link 2 text</label><br>
                    <input name="nav_link_2_text" type="text" ><br>

                    <label for="nav_link_3_text" class="form-title">Nav Link 3 text</label><br>
                    <input name="nav_link_3_text" type="text" ><br>

                    <label for="page_title" class="form-title">Page Title</label><br>
                    <input name="page_title" type="text" ><br>

                    <label for="hero_text_small" class="form-title">small hero text</label><br>
                    <input name="hero_text_small" type="text" ><br>

                    <label for="hero_text_big" class="form-title">big hero text</label><br>
                    <input name="hero_text_big" type="text" ><br>

                    <label for="background_color">background color</label><br>
                    <input name="background_color" type="color" ><br>

                    <label for="hero_div_color">hero div color</label><br>
                    <input name="hero_div_color" type="color" ><br>

                    <!-- <label for="hero_img">Hero Image</label><br>
                    <input name="hero_img" type="file" ><br> -->

                    <label for="about_paragraph">About Paragraph</label><br>
                    <textarea name="about_paragraph" id="about_pargraph" cols="30" rows="10"></textarea><br>

                    

                    <input id="submit-button" type="button"  value="Save">


                   </form>
    
                </div>
            </div>
    
            
        </aside>
        {% if user_website_template.website_type != 'U' %}
            <div style="float: right; width: 80%;">
                <iframe width="100%" height="100%" src="{% url 'editor:preview' %}"></iframe>
            </div>
        {% else %}
            <div style="float: right; width: 80%;">
                <p>Looks like you haven't chosen a template </p>
                <a href="{% url 'webella:on_boarding' %}">Browse through our templates </a>
            </div>
        {% endif %}
    </div>

</body> 

<script>
    
    $(document).ready(function(){

        $("#submit-button").click(function () {

            $.ajax({
            
                type:'POST',

                url:"{% url 'editor:postTemplateSpecs' %}",
                data: {
                
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    nav_link_1_text:$('input[name=nav_link_1_text]').val(),
                    nav_link_2_text:$('input[name=nav_link_2_text]').val(),
                    nav_link_3_text:$('input[name=nav_link_3_text]').val(),
                    page_title:$('input[name=page_title]').val(),
                    hero_text_small:$('input[name=hero_text_small]').val(),
                    hero_text_big:$('input[name=hero_text_big]').val(),
                    background_color:$('input[name=background_color]').val(),
                    hero_div_color:$('input[name=hero_div_color]').val(),
                    about_paragraph:$('input[name=about_paragraph]').val(),


                    

               },
                success: function(response){
                    console.log(response)
                },
                error: function(response) {
                    // alert("Error occured!")
                }
            })
        
        })
        
       
    });

</script>
</html>